body{background-color: rgb(17, 11, 11);}
p {color: white;}
h1{color: white;}
h2{color: white;}
h3{color: white;}
h4{color: white;}
h5{color: white;}
li{color: white;}
ul{color: white;}
marquee{color: white;}
a{color: white; font-weight: bolder;}